/Commercial Invoice.pdf
/IR-54179INV 1394415430_IR54179.pdf
/pdf_text_dump.txt
/Porsche_AfterSales_Extracted_20260221_125507.csv
/Porsche_AfterSales_Extracted_20260414_150934.csv
/Porsche_AfterSales_Extracted_20260414_152211.csv
/Porsche_AfterSales_Extractor_App.exe
/Porsche_AfterSales_Extractor_App.py
/test_extraction.py
/test_output.txt
/__pycache__